.inline {
  display: inline;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
}

.block {
  display: block;
  background-color: lightcoral;
  margin: 5px;
  padding: 5px;
}

.inline-block {
  display: inline-block;
  background-color: lightgreen;
  width: 150px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
